#progress{
    margin-bottom: 64px;
}

#timeline{
    background-color: #EFF8FE;
    width: 150%;
}

@media screen and (max-width: 768px){
    #timeline{
        width: 90%;
        margin-bottom: -20px;
        margin-left: 30px;
    }
}

