#future{
    background-color: #329dfa;
    height: 398.53px;
    width: 1313.82px;
    padding: 31.47px 64px 39px 62.18px;
    margin-top: 113px;
    margin-bottom: 87px;
}

@font-face {
    font-family: source-sans-pro;
    src: url(../../Font/SourceSansPro-Regular.ttf)
}

#mimossa{
    margin: 90px 57px 40px 58.82px;
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    font-family: source-sans-pro;
    color: #ffffff;
    text-align: center;
}

#btnFun{
    justify-content: center;
}

#aDemo{
    height: 62px;
    width: 272px;
    font-weight: bold;
    color: #002240;
    font-family: source-sans-pro;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    margin-right: 14.5;
    border: 1px #ffffff solid;
    border-radius: 5px;
}

#aDemo:hover {
    background-color: #002240;
    color: #ffffff;
    border: 1px #002240 solid;
}

#useCase{
    height: 62px;
    width: 272px;
    font-weight: bold;
    background-color: #329dfa;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 14.5px;
}

#useCase:hover {
    background-color: #ffffff;
    color: #329dfa;
}

@media screen and (max-width: 768px){
    #future{
        margin-top: 600px;
    }
}

