#hero-photo1{
    margin: 0 auto;
    margin-top: 60px;
}

#hero-photo2{
    display: none;

}

#hero-photo3{
    display: none;
}

@media screen and (max-width: 768px) {
    #hero-photo1{
        display: none;
    }
    #hero-photo2{
        display: block;
        margin:0px 69px 0px 69px;
        height: 300px;
        width: 630px
    }
}

@media screen and (max-width: 320px) {
    #hero-photo1{
        display: none;
    }
    #hero-photo2{
        display: none;
    }
    #hero-photo3{
        display: block;
        margin: 0px 30px 0px 50px;
        height: 296px;
        width: 268px
    }
}