#culture{
    font-family: source-sans-pro;
    font-size: 58px;
    line-height: 62px;
    font-weight: bold;
    color: #002240;
    margin-top: 132px;
}

@font-face {
    font-family: source-sans-pro;
    src: url(../../Font/SourceSansPro-Regular.ttf)
}

#description{
    font-family: source-sans-pro;
    margin-top: 21px;
    color: #537089;
    font-size: 21px;
    line-height: 38px;
    margin-left: 280px;
}

#change{
    margin-left: 180px;
}

#talk{
    font-family: source-sans-pro;
    font-size: 21px;
    line-height: 38px;
    color: #002240;
    margin-top: 47px;
    margin-left: 250px;
}

#btn{
    font-family: source-sans-pro;
    font-weight: bold;
    background-color: #0688fa;
    border-radius: 5px;
    margin: 0 auto;
    height: 59px;
    width: 198px
}

#centerBtn{
    margin-top: 20px;
}

#animePic{
    margin-top: 53px;
}

#subtitle {
    font-family: source-sans-pro;
    font-size: 21px;
    font-weight: bold;
    line-height: 34px;
    color: #002240;
    margin-top: 18px;
}

#discribe {
    font-family: source-sans-pro;
    font-size: 18px;
    line-height: 32px;
    color: #537089!important;
    width: 50%;
    float: right
}

#talk{
    font-family: source-sans-pro;
}

@media screen and (max-width: 768px){
    #culture{
        font-family: source-sans-pro;
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
        color: #002240;
        margin-top: 580px;
        margin-left: 50px;
    }
    #description{
        font-family: source-sans-pro;
        margin-top: 21px;
        color: #537089;
        font-size: 16px;
        line-height: 24px;
        width: 55%;
        margin-left: 190px;
        text-align: center!important
    }
    #discribe {
        font-family: source-sans-pro;
        font-size: 16px;
        line-height: 24px;
        color: #537089;
        width: 90%;
        text-align: center!important;

    }
    #change{
        margin-left: 30px;
        margin-top: 20px;
        margin-right: 0px;
    }
    #column{
        width: 30%;
        float: left;
        margin-left: 18px;
    }
    #animePic{
        height: 56px;
        width: 56px;
    }
    #subtitle{
        font-size: 16px;
        line-height: 24px;
    }
    #talk{
        margin-top:430px;
        width: 70%;
        margin-left: 110px;
        margin-right: 194px;
        text-align: center!important;
    }
    #btn{
        margin: 0 auto;
        float: inherit;
        width: 167px;
        height: 42px;

    }
}

@media screen and (max-width: 320px){
    #culture{
        margin-left: -127px;
        font-size: 28px;
    }
    #description{
        vertical-align: top;
        width:86%;
        margin-left: 30px;
        text-align: unset!important;
    }
    #column{
        width: 95%;
        float: left;
        margin-left: 0px;
        margin-top: -30px;
    }
    #btn{
        margin-right: 35px;
        width: 272px;
        height: 49px;
    }
    #talk{
        margin-top:800px;
        width: 80%;
        font-size: 16px;
        margin-left: 30px;
        line-height: 24px;
        text-align: unset!important;
    }

}
