#blueCow{
    background-color: #F4F4F4;
    margin-top: 80px;
    margin-bottom: -10px;

}

#footerImage{
    margin-top: 80px;
}

@font-face {
    font-family: source-sans-pro;
    src: url('../../Font/SourceSansPro-Regular.ttf')
}

#privacy, #terms{
    font-size: 18px;
    font-weight: bold;
    font-family: source-sans-pro;
    line-height: 21px;
    color: #002240;
    margin-top: 60px;
}
#copywrite{
    font-size: 18px;
    font-family: source-sans-pro;
    line-height: 21px;
    color: #002240;
}
#terms{
    margin-left: -360px;
}
#social{
    margin-left: 190px;
    margin-bottom: -300px;
}
#facebook, #twitter, #linkedin {
    height: 40.19px;
    width: 40.19px;
}

#facebook{
    margin: 60px 0px 233.36px 0px;
}

#twitter {
    margin: 60px 29.37px 233.36px 27.82px;
}

#linkedin{
    margin: 60px 0px 233.36px 0px;
}
#footerImage2{
    display: none;
}
#create{
    display: none;
}
@media screen and (max-width: 768px){

    #footerImage{
        display: none;
    }
    #footerImage2{
        display: block;
        margin-top: 30px;
    }
    #privacy{
        margin: 44.88px 0px 60px 67px;
        float: left;
    }
    #terms{
        margin: 20px 5px 60px 10px;
        float: left;
    }
    #social{
        float: right;
        margin-right: 69.01px;
    }
    #facebook, #twitter, #linkedin {
        height: 28.12px;
        width: 28.12px;
    }
    #facebook{
        margin: 0px 0px 165.08px 0px;
    }
    
    #twitter {
        margin: 0px 19.27px 165.08px 19.47px;
    }
    
    #linkedin{
        margin: 0px 0px 165.08px 0px;
    }
    #copywrite{
        margin-top: 90px;
        margin-left: 69px;
        font-size: 14px;
        line-height: 11px;
    }
}

@media screen and (max-width: 320px) {
   #blueCow{
       display: none;
   }
   #create{
       display: block
   }



}